html {
  font-size: 10px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Ranchers', cursive; /* this should be the rest of the output you got from Google fonts */
}

h1 {
  font-size: 200px;
  text-align: center;
}

p, li {
  font-size: 50px;   
  text-align: center; 
  line-height: 2;
  letter-spacing: 1px;
}